{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% if contact.manager == request.user %}
  Delete {{contact.name}} 
  {% else %}
  You don't have access
  {% endif %}
  {% endblock title %}
    

{% block content %}
    

{% if contact.manager == request.user %}
<div class="container">
    <h2 class="heading font-weight-light text-center"> Delete {{contact}}</h2>
    <hr>
</div>
<div class="container w-25 card p-4 mt-4">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form |crispy}}
        &nbsp;<br>
        <button type="submit" value="Delete" class="w-100 text-white my-2 btn btn-danger text-center">Submit</button>
    </form>
</div>

{% else %}
<div class="container mt-3">
      <h2 class="text-center my-3 font-weight-light">You don't have access to this page </h2>
      <hr />
      </div>
{% endif %}



{% endblock content %}
    